server:
  port: 9999

spring:
  datasource:
    username: root
    password: jl20020426
    url: jdbc:mysql://localhost:3306/xdb

  redis:
    port: 6379
    host: localhost

logging:
  level:
    com.lantu: debug

mybatis-plus:
  global-config:
    db-config:
      logic-delete-field: deleted
      logic-not-delete-value: 0
      logic-delete-value: 1

