<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lantu.sys.mapper.TeacherMapper">
    <resultMap id="myCourseResultMap" type="com.lantu.sys.entity.MyCourse">
        <id property="teacherId" column="teacher_id"/>
        <result property="teacherName" column="teacher_name"/>
        <result property="courseId" column="course_id"/>
        <result property="courseName" column="course_name"/>
        <result property="creditPoints" column="credit_points"/>
        <result property="classSchedule" column="class_schedule"/>
        <result property="classroomLocation" column="classroom_location"/>
        <result property="departmentId" column="department_id"/>
    </resultMap>
    <select id="getCourseByTeacherId" resultMap="myCourseResultMap">
        SELECT
            t.teacher_id,
            t.teacher_name,
            c.course_id,
            c.course_name,
            c.credit_points,
            c.class_schedule,
            c.classroom_location,
            c.department_id
        FROM
            Course c
                JOIN Teacher t ON c.teacher_id = t.teacher_id
        WHERE
            c.teacher_id = #{teacherId}
    </select>
    
</mapper>
